
<div class="container rounded bg-white mt-12 mb-12" style="align-items: center;" >
    <div >

        <div  >
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label >Name: {{client.Name}}  </label></div>
                    <div class="col-md-6"><label class="labels">Surname: {{client.Surname}}</label></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">PhoneNumber: {{client.ContactNo}}</label></div>
                    <div class="col-md-12"><label class="labels">Email: {{client.Email}}</label></div>
                </div>
                <div class="mt-5 text-center"><a routerLink='/edit'><button class="btn btn-primary profile-button" type="button">Edit </button></a></div>
            </div>
        </div>

    </div>
</div>





