<div style="float: top">
  <div style="background-color: white" class="card_hover">
    <div style="float: right" class="example-button-container"></div>
    <h1 style="text-align: center">Admin Homepage!</h1>

    <mat-card>
      <mat-card-title>Exhiliration hair & beauty salon</mat-card-title>
      <mat-card-subtitle>Quality hair becasue we care</mat-card-subtitle>
      <mat-icon style="float: right" class="btn btn-light">play_arrow</mat-icon>
    </mat-card>

    <mat-card style="height: 120%; background-color: whitesmoke">
      <mat-card-title>Refiloe</mat-card-title>
      <mat-card-title>Manyaapelo</mat-card-title>
      <mat-card-title>refiloe.manyaapelo@gmail.com</mat-card-title>
      <mat-card-title>079 253 4891</mat-card-title>
      <mat-icon style="float: right" class="btn btn-warning">edit</mat-icon>
      <mat-card-subtitle>Welcome to your profile</mat-card-subtitle>
      <br />

      <div class="row" style="text-align: center">
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>mode_comment</mat-icon>
          <br />
          <button class="btn btn-light">Bookings</button>
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>grid_on</mat-icon>
          <br />
          <button class="btn btn-light">Availability</button>
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>perm_identity</mat-icon>
          <br />
          <a href="./employee"><button class="btn btn-light">Employees</button></a>
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>perm_identity</mat-icon>
          <br />
          <a href="./client"><button class="btn btn-light">Clients</button></a>
        </mat-card>

        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>perm_identity</mat-icon>
          <br />
          <a routerLink="/stock"><button  class="btn btn-dark">Stock</button></a>
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>perm_identity</mat-icon>
          <br />
          <a href="./payment"
            ><button class="btn btn-light">Payments</button></a
          >
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>local_grocery_store </mat-icon>
          <br />
          <a href="./sale"><button class="btn btn-light">Sales</button></a>
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>perm_identity</mat-icon>
          <br />
          <a href="./admin"><button class="btn btn-light">Admins</button></a>
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>perm_identity</mat-icon>
          <br />
          <a href="./reports"><button class="btn btn-light">Report</button></a>
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>perm_identity</mat-icon>
          <br />
          <a href="./services"><button class="btn btn-light">Services</button></a>
        </mat-card>
        <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>perm_identity</mat-icon>
          <br />
          <a href="./supplier"><button class="btn btn-light">Supplier</button></a>
        </mat-card>
        <!-- <mat-card
          style="width: 220px; height: 150px; background-color: #97bc62ff"
        >
          <mat-icon>photo</mat-icon>
          <br />
          <a href="./admin"><button class="btn btn-light">Photo</button></a>
        </mat-card> -->
      </div>
      <br />
      <br />
    </mat-card>

    <mat-card>
      <mat-card-footer style="float: bottom">
        Exhiliration hair & beauty salon</mat-card-footer
      >
    </mat-card>
  </div>
</div>
