<footer style="background-color: lightgreen" id="footer">
  <div style="text-align: center" id="center">
    <div
      id="left"
      style="text-align: center; font-size: larger"
      *ngFor="let detail of List | async"
    >
      <label style="display: none">{{ detail.InfoID }}</label
      ><br />
      <strong>{{ detail.Name }}</strong
      ><br />
      <strong>Contact us: {{ detail.ContactNo }}</strong>
    </div>

    <div style="text-align: center;" *ngFor="let thing of List |async">
      <strong style="font-size: larger;">Find us: 
        <br>Pretoria, Lyttelton 
        <br>{{ thing.Address }}</strong> 
    </div>

    <div style="text-align: center;"></div>

    <div id="right" style="text-align: center">
      <strong style="font-size: larger">Social Media</strong>
      <br /><mat-icon>facebook</mat-icon>
      <label>: Exhilaration Hair & Beauty</label>
      <br /><mat-icon>facebook</mat-icon>
      <label>: @exhilarationbeautysalon</label>
    </div>
  </div>
</footer>
