
<mat-drawer-container class="example-container" fullscreen autosize hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <div id="sidebar">
      <li style="background-color: #333131; padding:2px 0; width:100%; height:64px">
        <button mat-icon-button class="example-icon"(click)="drawer.toggle()">
          <mat-icon style="color:white">menu</mat-icon>
        </button>
        <img src="assets/images/logo.png" alt="logo.png" style="width: 50px; height:50px;"/></li>
      <ul>
        <!-- client sidnav stuff -->
        <a routerLink="/home" *ngIf="clientLoggedIn || !LoggedIn" (click)="drawer.close()" ><li> Home</li></a>
        <a routerLink="/ViewServices" (click)="drawer.close()" ><li> View Services</li></a>
        <a routerLink="/browse" (click)="drawer.close()" ><li>View Products</li></a>
        <a routerLink="/ViewBooking" *ngIf="clientLoggedIn" (click)="drawer.close()" ><li>Bookings</li></a>
        <a routerLink="/Orders" *ngIf="clientLoggedIn" (click)="drawer.close()"><li>View Sales</li></a>
        <!-- admin sidnav stuff -->
        <a routerLink="/schedule" (click)="drawer.close()" ><li> View Schedule</li></a>
        <a routerLink="/services" (click)="drawer.close()"><li>Services</li></a>
        <a routerLink="/client" (click)="drawer.close()"><li>Client</li></a>
        <a routerLink="/reports" (click)="drawer.close()" ><li> Reports</li></a>
        <a routerLink="/ClientProfile" (click)="drawer.close()" ><li> Settings</li></a>

        
        <li (click)="logout(); drawer.close()" *ngIf="LoggedIn">Logout</li>
        <li *ngIf="!LoggedIn" (click)="login(); drawer.close()">Login</li>
        <a routerLink="/clienthome" *ngIf="AdminLoggedIn" (click)="drawer.close()" ><li> Home</li></a>

      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar style="background-color: #333131">
      <button mat-icon-button class="example-icon"(click)="drawer.toggle()">
        <mat-icon style="color:white">menu</mat-icon>
      </button>
      <img src="assets/images/logo.png" alt="logo.png" style="width: 50px; height:50px;"/>
      <span class="example-spacer"></span>
  
      
      <div class="icons">
        
      <a routerLink='/basket'><button style="color: white;" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"  >
        <mat-icon *ngIf="showBadges" [matBadge]="api.badgeCount" [matBadgeHidden]="api.badgeCount == 0">shopping_cart</mat-icon>
        
      </button></a>
      
      <!-- <a routerLink='/ViewBooking'><button style="color: white;" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>notifications_none</mat-icon>
      </button></a> -->
      
      <a (click)="login()"><mat-icon style="color: white; font-size: 30px;">account_circle</mat-icon></a>
    
      </div>
  </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-drawer-content>
  
</mat-drawer-container>


<!--
  **this is the sidebar for client-side 

  <div id="sidebar" *ngIf="role==client">
    <ul>
      <li>Main Menu</li>
      <li>Bookings</li>
      <li>Reports</li>
      <li>Services</li>
    </ul>
  </div>
  
-->


