<div class="heading">
    <h1>Services</h1>
    <button class="btn btn-success" title="Add Service" style="width: 35px; height: 35px; margin-left: 10px;" (click)="AddService()">+</button>
</div>
    
    <div class="contents">
        <ul>
            <li *ngFor = "let x of ServicesList | async">
                <div class="icon"><mat-icon>face</mat-icon></div>
                <div class="typeinfo">
                    <div class="name">{{x.Name}}</div>
                    <div class="sub-text">
                        <div>Service Type: {{x.ServiceType}}</div>
                        <div *ngFor = "let y of x.ServicePrices">Price: R{{y.Price}}</div>
                    </div>
                    <div class="sub-text">
                        <div *ngFor = "let y of x.ServiceTypeOptions">{{y.Option}}: R<span *ngFor ="let z of y.ServicePrices">{{z.Price}}</span></div>
                    </div>
                </div>
                <div class="buttons">
                <a  class="btn btn-success" (click)="EditService(x)"><mat-icon inline=true>edit</mat-icon></a>
                <a  class="btn btn-danger" (click)="DeleteService(x)"><mat-icon inline=true>delete</mat-icon></a>
                </div>
            </li>
        </ul>
    </div>
    
    
