<div class="homepage">

  
  <div class="site-wrap">    

       
      <div class="site-section" style="padding-top: 10px;">
        <div class="container">
          <div class="row" >
            <div class="col-md-6 col-lg-4 text-center">
              <h3 class="line-height-1 mb-3"><span class="d-block display-4 line-height-1 text-black">Welcome to</span> <span class="d-block display-4 line-height-1"><em class="text-danger font-weight-bold">Exhilaration Beauty & Hair Salon</em></span></h3>
              <p><a href="#"><small class="text-uppercase font-weight-bold">Read More</small></a></p>
            </div>
            <div class="col-md-6 col-lg-4">
              <figure class="h-100 hover-bg-enlarge">
                <div class="bg-image h-100 bg-image-md-height" style="background-image: url('assets/images/hair.jpg');"></div>
              </figure>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="border p-4 d-flex align-items-center justify-content-center h-100">
                <div class="text-center">
                  <h2 class="text-danger h2 mb-5">Opening Hours</h2>
                  <p class="mb-4">
                    <span class="d-block font-weight-bold">Mon – Fri </span>
                    10:00 AM – 8:30 PM
                  </p>
  
                  <p class="mb-4">
                    <span class="d-block font-weight-bold">Saturday</span>
                    Closed
                  </p>
  
                  <p class="mb-4">
                    <span class="d-block font-weight-bold">Sunday</span>
                    10:00 AM – 8:30 PM
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="site-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7">
              <h2 class="site-section-heading font-weight-light text-black text-center">Featured Services</h2>
            </div>
          </div>
  
          <div class="row"> 
            <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-razor display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Hair</h3>
                <p>Includes services such as wash & blow, styling, colouring and more.</p>
                <p><strong class="font-weight-bold text-primary"><a routerLink="/ViewServices"><button class="btn btn-success">View Services</button></a></strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-location-pin display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Nails</h3>
                <p>Pick from a wide selection of nail services like Acrylic paint, Gel nails, Polish paint and more.</p>
                <a routerLink="/ViewServices"><button class="btn btn-success">View Services</button></a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 bg-light site-block-feature-7">
                <span class="icon flaticon-shave display-3 text-primary mb-4 d-block"></span>
                <h3 class="text-black h4">Products</h3>
                <p>Choose from a selection of products like Shampoos, Conditioners or nail products.</p>
                <p><strong class="font-weight-bold text-primary"><a routerLink="/ViewServices"><button class="btn btn-success">View Product</button></a></strong></p>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      

    </div>
  
   

<footer style="bottom:0">
  <div class="footer">
   hello
   <br>
   hello
   <br>
   hello
  </div>
</footer>

</div>