<form [formGroup]="AdviseForm" (submit)="AdviseBooking(AdviseForm)">
<div   style="text-align: center; color: black;" class="card-hover">
    <article  class="c-card c-card--center">

      <button mat-raised-button style="background-color: gray; align-items: center; color: black; float: right;" (click)="cancel()" >
        Cancel
      </button>
      <div class="c-card__body">
        <label for="">
          <h1 > Current Booking request details</h1>
        </label>
        <br>
        
        <div>
          <label  ><h2 class="c-card__title">
            Service: {{Booking.BookingLines[0].Service}}
          </h2></label>
          <br>
          <label><h2 *ngIf="Booking.BookingLines[0].Option" class="c-card__title">
            Service option: {{Booking.BookingLines[0].Option}}
          </h2></label>
        </div>

        <div>
          <br>
          <label for="">
            <h2 class="c-card__title">Employee for Service:</h2>
            <mat-form-field appearance="fill">
              <mat-label>Employee</mat-label>
              <mat-select formControlName="employeeid" name="food">
                <mat-option *ngFor="let items of EmployeeList" value={{items.EmployeeID}}>
                  {{items.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </label>
          <br>
          <label for="">
            <h2 class="c-card__title">Appointment Date: {{chosenDate | date :"dd/mm/yy"}}</h2>
          </label>
          <label for=""><h2 class="c-card__title">
            Requested Time: {{Booking.BookingRequest.Time}}
          </h2> </label> 
          <br>
          <label for=""><h2 class="c-card__title">
            Start Time:
          </h2> </label> 
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Select Time</mat-label>
            <mat-select formControlName="timesid" >
              <mat-option *ngFor="let items of Times" value={{items.TimeID}}>
                {{items.StartTime}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        
    
        <div style="align-content: center; "  class="c-card__footer">
          <br>
          <button mat-raised-button style="background-color: gray;"    >
            Send
          </button>
        </div>

      </div>
    </article>
</div>
</form>