<h1 class="md-display-3">Supplier Orders</h1>


<div class="mat-elevation-z8 app-placeorder">
  <a [routerLink] = "['/orderform']">
    <button mat-raised-button style="background-color:forestgreen" ><mat-icon style="color:white">add</mat-icon> Add  
    </button></a>
    <mat-form-field>
     <mat-label>Search</mat-label>
     <input matInput (keyup)="applyFilter($event)" #input>
   </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Select Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef ><mat-checkbox></mat-checkbox></th>>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox></mat-checkbox>{{row.select}}</td>
    </ng-container>
    
      
      
    
      <!-- OrderID Column -->
      <ng-container matColumnDef="OrderID">
        <th mat-header-cell *matHeaderCellDef> OrderID </th>
        <td mat-cell *matCellDef="let row"> {{row.OrderID}} </td>
      </ng-container>
  
      <!-- SupplierID Column -->
      <ng-container matColumnDef="SupplierID">
         <th mat-header-cell *matHeaderCellDef> SupplierID </th>
         <td mat-cell *matCellDef="let row"> {{row.SupplierID}} </td>
      </ng-container>
  
  
      <!--Description Column -->
      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
     </ng-container>

      <!--OrderDetails Column -->
      <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef> Details</th>
        <td mat-cell *matCellDef="let row"> {{row.Details}} </td>
     </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let row"> R{{row.Price}} </td>
     </ng-container>
    
      <!-- Date Column -->
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
     </ng-container>

     <!-- Return Supplier Order -->
      <ng-container matColumnDef="ReturnOrder">
       <th mat-header-cell *matHeaderCellDef> Return Order</th>
       <td mat-cell *matCellDef="let row">
        <button style="background-color:red" (click)="onDelete(row.OrderID)"><mat-icon style="color:white">delete_sweep</mat-icon></button>
       </td >
     </ng-container>
   
 

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
      
   <router-outlet></router-outlet>

    
      <a [routerLink] = "['/supplier']">
        <button mat-raised-button style="background-color:red" ><mat-icon style="color:white">undo</mat-icon>Return
       </button></a>
</div>