@import url(https://fonts.googleapis.com/css?family=Amaranth:400,400italic,700italic,700);
.card_hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-left: auto;
  width: 50%;
  height: 90%;
  background: #ffffff;
}

.c-card {
  display: inline-block;
  width: 50%;
  height: 50%;
  max-width: 600px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}
.c-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}
.c-card__image {
  max-width: 50%;
}
.c-card__body {
  padding: 50px;
  background: #97BC62FF;
}
.c-card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.c-card * {
  display: block;
  box-sizing: border-box;
}