<div class="jumbotron" style="background-color: white;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3 style="text-align: center;">User setup</h3>

          <form [formGroup]="setupForm" (submit)="setupUser()">

          <div class="form-group" [ngClass]="{
            'has-error':
            setupForm.get('username').errors &&
              (setupForm.get('username').touched ||
              setupForm.get('username').dirty)
          }">
            <label>Username</label>
            <input
              id="username"
              (keypress)="omit_special_char($event)"
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{
                'has-error':
                setupForm.get('username').errors &&
                  (setupForm.get('username').touched ||
                  setupForm.get('username').dirty)
              }"
            />
            <span class="help-block" *ngIf="setupForm.get('username').errors &&
            (setupForm.get('username').touched ||
            setupForm.get('username').dirty)">
          <span *ngIf="setupForm.get('username').errors.required">
            Username is required
          </span>
          <span *ngIf="setupForm.get('username').errors.minlength ||setupForm.get('username').errors.maxlength">
            Username must be between 2 and 50 characters long
          </span>
        </span>
          </div>


          <div class="form-group" [ngClass]="{
            'has-error':
            setupForm.get('password').errors &&
              (setupForm.get('password').touched ||
              setupForm.get('password').dirty)
          }">
            <label>Password</label>
            <input
             id="password"
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{
                'has-error':
                setupForm.get('password').errors &&
                  (setupForm.get('password').touched ||
                  setupForm.get('password').dirty)
              }"
            />
            <span class="help-block" *ngIf="setupForm.get('password').errors &&
              (setupForm.get('password').touched ||
              setupForm.get('password').dirty)">
            <span *ngIf="setupForm.get('password').errors.required">
              Password is required
            </span>
            <span *ngIf="setupForm.get('username')">
              Password must have min of 6 charaters
            </span>
          </span>
          </div>

          <div class="form-group" [ngClass]="{
            'has-error':
            setupForm.get('cpassword').errors &&
              (setupForm.get('cpassword').touched ||
              setupForm.get('cpassword').dirty)
          }">
            <label>Confirm Password</label>
            <input
              id="cpassword"
              type="password"
              formControlName="cpassword"
              class="form-control"
              [ngClass]="{
                'has-error':
                setupForm.get('cpassword').errors &&
                  (setupForm.get('cpassword').touched ||
                  setupForm.get('cpassword').dirty)
              }"
            />
            <span class="help-block" *ngIf="setupForm.get('cpassword').errors &&
            (setupForm.get('cpassword').touched ||
            setupForm.get('cpassword').dirty)">
          <span *ngIf="setupForm.hasError('notSame')">
            Passwords do not match
          </span>
        </span>
            <br>
            <div style="text-align: center;">
                <div class="form-group">
                    <button
                    type="submit"
                  class="btn btn-success"
                  style="color: white;"
                >Submit</button>
                </div>
          </div>
          </div>
        </form>
      </div>
    </div>
</div>