<div class="heading">
<h1>Service Types</h1>
<button class="btn btn-success" title="Add Service Type" style="width: 35px; height: 35px; margin-left: 10px;" (click)="AddServiceType()">+</button>
</div>

<div class="contents">
    <ul>
        <li *ngFor ="let x of myServiceTypesList | async">
            <div class="icon"><mat-icon>face</mat-icon></div>
            <span hidden>{{x.TypeID}}</span>
            <div class="name">{{x.Name}}</div>
            <div class="buttons">
            <a class="btn btn-success" title="Edit Service Type" (click)="EditServiceType(x)"><mat-icon inline=true>edit</mat-icon></a>
            <a class="btn btn-danger" title="Delete Service Type" (click)="DeleteServiceType(x)"><mat-icon inline=true>delete</mat-icon></a>
            </div>
        </li>
    </ul>
</div>

