<h1>Reporting</h1>
<div class="row" style="width: 350px; text-align: center">
  <mat-card style="width: 220px; height: 100px; background-color: green">
    <mat-icon>mode_comment</mat-icon><br />
    <button class="btn btn-dark">Sales</button>
  </mat-card>

  <mat-card style="width: 220px; height: 100px; background-color: green">
    <mat-icon>mode_comment</mat-icon><br />
    <button class="btn btn-dark">Financial</button>
  </mat-card>

  <mat-card style="width: 220px; height: 100px; background-color: green">
    <mat-icon>mode_comment</mat-icon><br />
    <button class="btn btn-dark">Product</button>
  </mat-card>

  <mat-card style="width: 220px; height: 100px; background-color: green">
    <mat-icon>mode_comment</mat-icon><br />
    <button class="btn btn-dark">Supplier</button>
  </mat-card>

  <mat-card style="width: 220px; height: 100px; background-color: green">
    <mat-icon>mode_comment</mat-icon><br />
    <button class="btn btn-dark">Employee Booking</button>
  </mat-card>

</div>
