@import url(https://fonts.googleapis.com/css?family=Amaranth:400,400italic,700italic,700);
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  float: center;
}
.card_hover 
{
  transform: translateY(-5px);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-left: auto;
  width: 70%;
  height: 94%;
  background: #ffffff;
}

.c-card {
  display: inline-block;
  width: 60%;
  max-width: 600px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  align-items: center;
  background: green;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #ddd;
}
.c-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}
.c-card__image {
  max-width: 100%;
}
.c-card__body {
  padding: 50px;
  background: #97BC62FF;
  border-top: 1px solid #ddd;
}
.c-card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.c-card__footer {
  padding: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  align-items: center;
}

.c-card * {
  display: block;
  box-sizing: border-box;
}

.thumbnail:hover {
  align-items: right;
  top: 25px;
  left: 35px;
  z-index: 999;
  width: 350px;
  height: 350px;
  background-size: cover;
  border-radius: 100px;
  -webkit-border-radius: 170px;
  display: inline-block;
  margin-left: 80%;
  margin: 80%;
}
basic-container {
  padding: 30px;
}

version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.mat-radio-button {
  margin-left: 16px;
}

mat-form-field {
  margin-right: 12px;
}

example-headers-align .mat-expansion-panel-header-title,
example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}