<div style="width: 100%; height: 100%;">
    <div
      style="background-color: whitesmoke; text-align: center;"
      class="card_hover"
    >
    <h1 style="text-align: center;">Payments</h1>

    <div class="card" id="div" style="width: 350px; background-color: green;">
      <mat-icon style="position: absolute;">shop</mat-icon>
      <br>  
        <div class="container">
          <a routerLink="/booking"><h4><b>Bookings</b></h4></a>
        </div>
      </div>

      <div class="card" id="div" style="width: 350px; background-color: green;">
        <mat-icon style="position: absolute;">shopping_cart</mat-icon>
        <br>
        <div class="container">
          <a routerLink="/sales"><h4><b>Sales</b></h4></a>
        </div>
      </div>

    </div>
</div>
