<div class="jumbotron" style="background-color: whitesmoke">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <h3 style="text-align: center">Confirm Payment</h3>

          <form [formGroup]="confirmForm" (ngSubmit)="SPackage()" style="background-color: whitesmoke">

          <div class="form-group">
            <strong>ClientID:</strong
            ><label name="ClientID">{{ clientObject.ClientID }}</label>
          </div>
          <div class="form-group">
            <strong>Name:</strong
            ><label name="Name">{{ clientObject.Name }}</label>
          </div>
          <div class="form-group">
            <strong>Surname:</strong
            ><label name="Surname">{{ clientObject.Surname }}</label>
          </div>
          <div class="form-group">
            <strong>Contact Number:</strong
            ><label name="ContactNo">{{ clientObject.ContactNo }}</label>
          </div>
          <div class="form-group">
            <strong>Email Address:</strong
            ><label name="Email">{{ clientObject.Email }}</label>
          </div>

          <mat-form-field appearance="fill">
            <mat-label>Payment Type</mat-label>
            <mat-select>
              <mat-option
                *ngFor="let option of List | async"
                value="{{option.Type}}"
                >{{option.Type}}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <br />
          <div style="text-align: center;">
          <button class="btn btn-success" ng-click ="Activate()">Activate</button>
          <button class="btn btn-success" (click)="previousForm()">Back</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
