<div class="heading">
    <h1>Product
        <button class="btn btn-success btn-sm" title="Add Service" (click)="addProduct()">+</button>
    </h1>
</div>
    
    <div class="contents">
        <ul>
            <li *ngFor="let items of ProductList | async">
                <div class="icon"><mat-icon>face</mat-icon></div>
                <div class="typeinfo">
                    <div class="name">{{items.Name}}</div>
                    <div class="sub-text">
                        <div>Category: {{items.Category}}</div>
                        <div>Price: R{{items.Price}}</div>
                        <div>Quantity: {{items.QuantityOnHand}}</div>
                    </div>
                </div>
                <div class="buttons">
                <a class="btn btn-success" (click)="editProduct(items)" ><mat-icon inline=true>edit</mat-icon></a>
                <a class="btn btn-danger" (click)="deleteProduct(items)" ><mat-icon inline=true>delete</mat-icon></a>
                </div>
            </li>
           
        </ul>
    </div>
    
    
