.example-form {
  min-width: 250px;
  max-width: 700px;
  width: 100%;
  border-style:ridge;
}

.example-full-width {
  width: 100%;
  font-weight: bold;
}

td {
  padding-right: 8px;
}

.side-div{
  align-items: center;
  justify-content: center;
  
}

.main-div{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-focused .mat-form-field-label {
  color: green !important;
  font-size: 20px;
} 

.md-display-3{
  position: relative;
  margin: 50px auto;
  width: 40%;
  align-items: center;
}

.buttoncapturepayment{
  align-items: center;
}