

<div class="main-div">
  <form class="example-form" [formGroup]="AddForm" (submit)="AddSupp(AddForm)">
    <mat-form-field class="example-full-width">
      <mat-label>Addition of Supplier</mat-label>
      <input matInput value disabled="">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text"  (keypress)="omit_special_char($event)" formControlName='name'>
        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
        <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 20 characters</mat-error>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Contact Number</mat-label>
        <input matInput type="text"  maxlength="10" minlength="10" (keypress)="omit_special_char($event)" matInput formControlName='contactno'>
      
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="AddForm.get('email').hasError('email') && !AddForm.get('email').hasError('required')">
        Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="AddForm.get('email').hasError('required')">
         Email is <strong>required</strong>
        </mat-error>        
      </mat-form-field>
      
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput  (keypress)="omit_special_char($event)" formControlName='address'>
      </mat-form-field>
    </p>
    <div class="side-div">
      <a [routerLink] = "['/supplier']">
        <button mat-raised-button style="background-color:red" ><mat-icon style="color:white">cancel</mat-icon>Cancel
       </button></a>
      
      <button mat-raised-button type="submit" style="background-color:forestgreen;" type="submit">
        <mat-icon style="color:white">done</mat-icon> Save
      </button>
    </div>
  </form>
</div>

  <router-outlet></router-outlet>