<div class="heading">
    <h1>Delete Service Type</h1>
</div>
    
<div class="contents">
    <h2>Service Type details</h2>

    <div class="details">
        <div class="inputs">
            <label for="ServiceName"><b>Name: </b> {{formData.Name}}</label>    
            <label for="Description"><b>Description: </b>{{formData.Description}}</label>  
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light" (click)="Cancel()">Cancel</button>
    <button class="btn btn-danger" (click)="Delete()">Delete</button>
</div>
