<div class="heading">
    <h1>Delete Service</h1>
</div>
    
<div class="contents">
    <h2>Service details</h2>

    <div class="details">
        <div class="inputs">
            <label ><b>Name:</b> {{formData.Name}}</label>    
            <label ><b>Description:</b> {{formData.Description}}</label>  
            <label ><b>Duration:</b> {{formData.Duration}}</label>    
            <label *ngIf="formData.ServicePrices != null" ><b>Price:</b> {{formData.ServicePrices[0].Price}}</label>  
            <div *ngIf="formData.ServiceTypeOptions != null">
            <label>Service Options:</label>    
                <ul *ngFor="let items of formData.ServiceTypeOptions">
                    <li>{{items.Option}}: R{{items.ServicePrices[0].Price}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light" (click)="Cancel()">Cancel</button>
    <button class="btn btn-danger" (click)="Delete()">Delete</button>
</div>
