<div class="heading">
    <h1>Create Service Package</h1>
</div>

<form [formGroup]="PackageForm" (ngSubmit)="Save(PackageForm)">
<div class ="contents">
    <h2>Select Service</h2>
    
    <div class="form-group" [ngClass]="{'has-error': formErrors.serviceid}">
      <select name="serviceid" (blur)="logValidationErrors()" class="form-control"  formControlName="serviceid"  id="serviceid">
        <option disabled>- Select Service -</option>
        <option *ngFor="let x of ServiceList | async" value="{{x.ServiceID}}">{{x.Name}}</option>
      </select>
      <span class="help-block" *ngIf="formErrors.serviceid">
          {{formErrors.serviceid}}
      </span>
    </div>
</div>
    
<div class="contents">
    <h2>Enter Service Package details</h2>
    
    <div class="details">
        <div class="form-group" [ngClass]="{'has-error': formErrors.description}">
            <label for="description">Description</label>    
            <input type="text" (blur)="logValidationErrors()" class="form-control" formControlName="description" id="description" placeholder="Example: Hair">
            <span class="help-block" *ngIf="formErrors.description">
                {{formErrors.description}}
            </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrors.price}">
            <label for="Price">Price (R)</label>    
            <input type="number" (blur)="logValidationErrors()" class="form-control" formControlName="price" id="Price"  placeholder="Enter service package price">
            <span class="help-block" *ngIf="formErrors.price">
                {{formErrors.price}}
            </span>
        </div>
    </div>
    <div class="details">
        <div class="form-group" [ngClass]="{'has-error': formErrors.quantity}">
            <label for="quantity">Quantity</label>    
            <input type="number" (blur)="logValidationErrors()" class="form-control" formControlName="quantity" id="quantity" placeholder="Example: 5 uses">
            <span class="help-block" *ngIf="formErrors.quantity">
                {{formErrors.quantity}}
            </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': formErrors.duration}">
            <label for="duration">Duration (in Months)</label>    
            <input type="number" (blur)="logValidationErrors()" class="form-control" formControlName="duration" id="duration" placeholder="Enter service package duration">
            <span class="help-block" *ngIf="formErrors.duration">
                {{formErrors.duration}}
            </span>
        </div>
    </div>
</div>

<div class="buttons">
    <button class="btn btn-light" type="button" (click)="Cancel()">Cancel</button>
    <button class="btn btn-success" type="submit">Save</button>
</div>

</form>